@{
    ViewBag.Title = "Votes";
}

@Scripts.Render("~/bundles/jquery")

<script>
    $(function () {
        $.ajax
         ({
             
             url: '/api/Votes/',
             type: 'GET',
         })
                 .done(function(returndata){
                     $.each(returndata, function (i, snack) {
                         $('.id').append('<div class="col-md-3">' + snack.id+ '</div>');
                         $('.name').append('<div class="col-md-3">' + snack.name + '</div>');
                         $('.optional').append('<div class="col-md-3">' + snack.optional + '</div>');
                         $('.purchaseLocations').append('<div class="col-md-3">' + snack.purchaseLocations + '</div>');
                         $('.purchaseCount').append('<div class="col-md-3">' + snack.purchaseCount + '</div>');
                         $('.lastPurchaseDate').append('<div class="col-md-3">' + snack.lastPurchaseDate + '</div>');
                     });
                 })
         });
</script>
<h2>Votes</h2>
<div class="container">
    <table>
        <thead>
            <tr class="row col-md-12">
                <th class="co-md-2">Id</th>
                <th class="co-md-2">Name</th>
                <th class="co-md-2">Optional</th>
                <th class="co-md-2">Purchase Location</th>
                <th class="co-md-2">Purchase Count</th>
                <th class="co-md-2">Last Purchase Date</th>
            </tr>
        </thead>
        <tbody class="row col-md-12" id="snacks">
            <tr>
                <td class="id co-md-2"></td>
                <td class="name co-md-2"></td>
                <td class="optional co-md-2"></td>
                <td class="purchaseLocations co-md-2"></td>
                <td class="purchaseCount co-md-2"></td>
                <td class="lastPurchaseDate co-md-2"></td>
            </tr>
        </tbody>
    </table>
</div>
<div >
</div>