@{
    ViewBag.Title = "Votes";
}

@Scripts.Render("~/bundles/jquery")

<script>
    $(function () {
        GetSnacks();
    });
    function GetSnacks() {
        $.ajax
            ({
                url: '/api/Votes/',
                type: 'GET'
            })
            .done(function (returndata) {
                $.each(returndata, function (i, snack) {
                        $('#snacks').append( '<tr><td>' + snack.id + '</td><td>' + snack.name + '</td><td>' + snack.optional + '</td><td>' + snack.purchaseLocations + '</td><td>' + snack.purchaseCount + '</td><td>' + snack.lastPurchaseDate + '</td></tr>');
                    
                    

                });
            });
    }
     
   
</script>
<h2>Votes</h2>
<div class="container">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Optional</th>
                <th>Purchase Location</th>
                <th>Purchase Count</th>
                <th>Last Purchase Date</th>
            </tr>
        </thead>
        <tbody id="snacks">
            <tr>
                @*<td class="id"></td>
                <td class="name"></td>
                <td class="optional"></td>
                <td class="purchaseLocations"></td>
                <td class="purchaseCount"></td>
                <td class="lastPurchaseDate"></td>*@
            </tr>
        </tbody>
    </table>
</div>
<div >
</div>