
@{
    ViewBag.Title = "Edit";
    var ratings = new List<SelectListItem>(){
      new SelectListItem() {
          Text = "G",
          Value = "G"
      },
            new SelectListItem() {
          Text = "PG",
          Value = "PG"
      },
            new SelectListItem() {
          Text = "PG-13",
          Value = "PG-13"
      },
            new SelectListItem() {
          Text = "R",
          Value = "R"
      },
            new SelectListItem() {
          Text = "NC-17",
          Value = "NC-17"
      }
    };
}
@model List<DvDCollection.Movy>
<h2>Edit Movie</h2>
<button>Delete</button>
<form>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
</form>

